:root {
    --verde: #7CFC00;
    --preta: #1C1C1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* Elelmentos base */

.container .fundo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .fundo {
    padding: 10px;
    color: #7CFC00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

header nav a {
    text-decoration: none;
    color: #ADD8E6;
    padding: 7px;
}

header nav a:hover {
    color: #7CFC00;
}

body {
    background: var(--preta);
    font-family: serif;
    color: #ADD8E6;
}


/* capa principal*/

.container {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url(../img/Jornada-nas-estrelas.jpg);
    height: 900px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.capa .descricao {
    font-family: fantasy;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.capa .container {
    width: 700;
}