:root {
    --verde: #7CFC00;
    --preta: #1C1C1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* Elelmentos base */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    padding: 10px;
    color: #7CFC00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

header nav a {
    text-decoration: none;
    color: #ADD8E6;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
}

header nav a:hover {
    color: #7CFC00;
}

header .inicio {
    margin-right: 20px;
}

body {
    background: var(--preta);
    font-family: serif;
    color: #ADD8E6;
}

.capa {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url(../img-series/serie-castlevania.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.capa .info {
    display: flexbox;
    width: fit-content;
    width: 700px;
    margin-left: 10px;
}