:root {
    --verde: #7CFC00;
    --preta: #1C1C1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* Elelmentos base */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    padding: 10px;
    color: #7CFC00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

header nav a {
    text-decoration: none;
    color: #ADD8E6;
    padding: 7px;
}

header nav a:hover {
    color: #7CFC00;
}

body {
    background: var(--preta);
    font-family: serif;
    color: #ADD8E6;
}

.destaque {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-left: 10px;
    padding-bottom: 10px;
}


/* capa principal*/

.capa {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url(../img/Jornada-nas-estrelas.jpg);
    height: 900px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.capa-series .descricao {
    font-family: fantasy;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.capa-series .container {
    width: 700;
}

.capa-series .botao-asistir {
    cursor: pointer;
    background-color: #1C1C1C;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .50), rgba(0, 0, 0, .50);
    border: none;
    color: #7CFC00;
    padding: 7px;
    font-size: 12px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.capa-series .botao-inf {
    cursor: pointer;
    background-color: #1C1C1C;
    background-color: rgba(0, 0, 0, .50), rgba(0, 0, 0, .50);
    border: none;
    color: #7CFC00;
    padding: 7px;
    font-size: 12px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botao-asistir:hover {
    background-color: #7CFC00;
    color: #1C1C1C;
    transition: 3s ease all;
}

.botao-inf:hover {
    background-color: #7CFC00;
    color: #1C1C1C;
    transition: 3s ease all;
}

.fa-solid {
    padding: 5px;
}

.filme-box {
    height: 300px;
    width: 150px;
    display: block;
    border-radius: 10px;
    border-color: #ADD8E6;
    border-style: outset;
    justify-content: space-between;
}