:root {
    --verde: #7CFC00;
    --preta: #1C1C1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* Elelmentos base */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    padding: 10px;
    color: #7CFC00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

header nav a {
    text-decoration: none;
    color: #ADD8E6;
    padding: 7px;
}

header nav a:hover {
    color: #7CFC00;
}

body {
    background: var(--preta);
    font-family: serif;
    color: #ADD8E6;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.series-carousel .series {
    margin: 7px;
    height: 300px;
    width: 150px;
    display: block;
    border-radius: 10px;
    border-color: #ADD8E6;
    border-style: outset;
    justify-content: space-between;
    justify-content: center;
}

.principal img {
    display: flex;
    flex-direction: row;
    width: 1500px;
    height: 150px;
    align-items: center;
}

.fundo {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url(../img-series/serie-Demon\ Slayer.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer h3 {
    padding: 10px;
    text-align: center;
    color: #7CFC00;
}